.signin_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15%;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group > input{
    width: 520px;
}

.form-group > label {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .signin_form {
        margin-top: 70%;
    }
    .form-group > input{
        width: 300px;
    }
}